:root {
    --card-size: 128px;
    --attacker-card: 1px lawngreen solid;
    --defender-card: 1px cadetblue solid;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: aquamarine;
    }
}

.content, .deck, .board, .card {
    border: 1px red solid;
}

.content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    max-width: 800px;
    min-width: 800px;
}

.deck {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: start;
}

.board {
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.card > div {
    width: 1rem;
}

.deck > .card, .board > .card {
    min-width: var(--card-size);
    min-height: var(--card-size);
    max-width: var(--card-size);
    max-height: var(--card-size);
    border-radius: 5px;
    margin: 1rem;
}

.deck > .card {
    margin-bottom: -8rem;
}

.deck > .card:first-child {
    margin-top: 1rem;
}

/*.board > .card {*/
/*    border: var(--defender-card);*/
/*}*/

.attacker {
    border: var(--attacker-card);
}

.defender {
    border: var(--defender-card);
}
