:root {
    --color-scheme: light dark;
    --board-item-size: 100px;
    color-scheme: var(--color-scheme);
}

section {
    display: flex;
    flex-wrap: wrap;
}

.board-item {
    max-width:var(--board-item-size);
    max-height:var(--board-item-size);
    min-width:var(--board-item-size);
    min-height:var(--board-item-size);
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
}

.item {
    max-width:var(--board-item-size);
    max-height:var(--board-item-size);
    min-width:var(--board-item-size);
    min-height:var(--board-item-size);
    border: 1px solid red;
}
